* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

.fond {
    background-image: url("../image/horloge.gif");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   	position: relative;
}

@media screen and (min-width: 600px) {
  div.display-4 {
    font-size: 50px;
  }
  

}

@media screen and (max-width: 600px) {
  div.display-4 {
    font-size: 20px;

  }
  div.profil {
	  position: absolute;
	  top: 25%; 
	  transform: translateY(-50%); 
	  left: 80%; 
	  transform: translateX(-50%); 
	  width: 60%;
	  text-align: center;
   }
}

.time {
  position: absolute;
  top: 30%;
  transform: translateY(-50%); 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #FAFAFA;
  width: 60%;
  text-align: center;
}

.profil {
  position: absolute;
  top: 18%; 
  transform: translateY(-50%); 
  left: 80%; 
  transform: translateX(-50%); 
  width: 60%;
  text-align: center;
}

.profil_photo {
	border-radius: 50%;
}

